<template >
    <div class="container" style="padding-top: 30px;">
        <div class="row">
            <div class="col-md-3 text-center">
                <img class="img-fluid" width="80%" v-bind:src="track.cover">
                <h2>{{track.title}}</h2>
                <h4>{{track.releaseDate}}</h4>
            </div>
            <div class="col-md-9">
                <table class="table table-dark table-hover table-borderless">
                    <tbody>
                      <tr v-for="(track, index) in tracks" v-on:dblclick.prevent="play(track)">
                        <td style="width:32px;">
                            <a class="btn" role="button" @click="play(tracks, index)">
                                <i class="material-icons align-middle" style="color: white; font-size: 2.0em;">play_circle_outline</i>
                            </a>
                        </td>
                        <td class="align-middle d-none d-sm-table-cell">{{track.title}}</td>
                        <td class="align-middle d-none d-sm-table-cell">{{track.artist}}</td>
                        <td class="align-middle d-block d-sm-none">
                          {{track.title}} <br> <span style="color: grey;">{{track.artist}}</span>
                        </td>
                        <td class="align-middle">
                            {{track.play_count}}
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        props:['id'],
        data(){
            return{
                track: {},
                tracks:{},
            }
        },
        watch:{
            '$route'(to, from){
                this.fetchAlbum();
            }
        },
        mounted(){
               this.fetchTrack();
        },
        methods:{
            fetchTrack(){
                axios.get('/api/track/'+this.id).then((response)=>{
                    this.track = response.data[0];
                    this.tracks = response.data;
                    console.log(this.track);
                });
            },
            play(data, index){
                Event.$emit('playTrack', data, index);
            }
        }
    }
</script>
<style>
    .w-auto {
        width: auto;
    }
</style>
