<template>
    <div id="accordion">
        <table style="margin-top: 0px;" class="table table-dark table-hover table-borderless">
            <tbody>
                <template v-for="track, index in tracks">
                    <tr :class="{currentTrack:track.id == $store.getters.playingTrack.id, trBackground:track.id == $store.getters.playingTrack.id}" @click="play(tracks, index);">
                        <td style="height: 75px; width: 75px; padding: 0.3em !important;">
                            <img class="img-fluid" height="75" width="75"  v-lazy="track.cover" :key="track.cover">
                        </td>
                        <td class="align-middle text">
                            <div>
                                <span class="trackTitle noselect" style="color: white;font-size: 1em;">{{track.title}}</span><br>
                                <span v-if="track.isDownloaded">
                                    <i style="color: #48be4d; font-size: 0.8em;" class="material-icons">cloud_download</i>
                                </span>
                                <span style="color: darkgrey !important;font-size: 0.8em;"> {{track.artist}}</span>
                            </div>
                        </td>
                        <td class="align-middle text-right" @click.stop="goToContextRoute(track)">
                            <span id="context-icon" style="height: 24px !important; width: 24px !important; color: grey;"><i class="material-icons align-middle">more_vert</i></span>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</template>

<script>

    export default {
        props: ['tracks'],
        data(){
            return {
                track: {}
            }
        },
        mounted(){
            Event.$on('removeTrack', (removedTrack)=>{
                let self = this;
                this.tracks.map((track, index)=>{
                    if (track.id == removedTrack.id) {
                        self.tracks.splice(index, 1);
                    }
                });
            });
        },
        methods: {
            play(tracks, index){
                Event.$emit('playTrack', tracks, index);
            },
            goToContextRoute(track){
                this.$router.push({name: 'ContextMenu', params: {track: track}});
            }
        }
    }
</script>

<style>
    .collapse{
        width: 100%;
    }

    .options:hover{
        background-color: transparent !important;
    }
</style>
