<template>
    <div id="playlist-page-container" style="margin-top: 50px;">
        <nav-bar v-bind:title="playlist.name"></nav-bar>
        <download-component :tracks="tracks"></download-component>
        <div class="row">
            <div class="col-12">
                <template v-if="tracks == ''">
                    <div class="text-center" style="width: 100%">
                        <h4>This playlist is empty</h4>
                    </div>
                </template>
                <table class="table table-dark table-hover table-borderless">
                    <tbody>
                      <tr :class="{currentTrack:track.id == $store.getters.playingTrack.id, trBackground:track.id == $store.getters.playingTrack.id}"  v-for="track, index in tracks" @click="play(tracks, index);">
                        <td style="height: 75px; width: 75px; padding: 0.3em !important;">
                            <img class="img-fluid" height="75" width="75"  v-lazy="track.cover">
                        </td>
                        <td class="align-middle text">
                            <div>
                                <span class="trackTitle noselect" style="color: white;font-size: 1em;">{{track.title}}</span><br>
                                <span style="color: darkgrey !important;font-size: 0.8em;">{{track.artist}}</span>
                            </div>
                        </td>
                        <td class="align-middle text-right" id="context" @click.stop="showModal()">
                            <span id="context-icon" style="height: 24px !important; width: 24px !important; color: grey;"><i class="material-icons align-middle">more_vert</i></span>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import NavBar from '../../components/nav-bar/nav-bar.vue';
    import DownloadComponent from './components/DownloadComponent.vue';

    export default {
        name: 'PlaylistPage',
        props:[
            'id',
        ],
        components:{
            'nav-bar': NavBar,
            'download-component': DownloadComponent
        },
        data(){
            return {
                tracks: [],
                playlist: {}
            }
        },
        mounted(){
            this.fetchPlaylist(this.id);
            Event.$on('reloadPlaylist', (playlist) => {
                this.fetchPlaylist(playlist.id);
                console.log(playlist);
            });
        },
        methods: {
            play(tracks, index){
                Event.$emit('playTrack', tracks, index);
            },
            fetchPlaylist(id){
                let self = this;
                this.$vlf.createInstance({
                    storeName: 'playlists'
                }).then((store) => {
                    store.getItem(id).then(value=>{
                        this.playlist = value;
                        this.fetchTracks(this.playlist);
                    });
                });
                // axios.get('/api/playlist/'+id).then(response => {
                //     this.tracks = response.data.tracks;
                //     this.playlist = response.data.playlist;
                // })
            },
            fetchTracks(playlist){
                let self = this;
                this.$vlf.createInstance({
                    storeName: playlist.name
                }).then((store)=>{
                    store.iterate((value, key, num) => {
                        this.tracks.push(value);
                    })
                });
            },
        }
    }

</script>
<style scoped>
    .currentTrack .text p{
    color: #1db954 !important;
    }

    .trBackground{
        background-color: rgba(255, 255, 255, 0.075);
    }

    .trackTitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%;
    }

    .currentTrack .text span{
        color: #1db954 !important;
    }
</style>
