<template>
    <div id="playlists-page-container" style="margin-top: 30px;">
        <nav-bar v-bind:title="'Playlists'"></nav-bar>
        <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
            <div class="col">
                <new-playlist></new-playlist>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="list-group" >
                    <a v-for="playlist in playlists" role="button" @click="playlistClickHandler(playlist)"  class="list-group-item list-group-item-action">
                        {{playlist.name}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import NewPlaylist from './components/newPlaylistComponent.vue';
    import NavBar from '../../components/nav-bar/nav-bar.vue';

    export default {
        props:['track'],
        name: 'PlaylistsPage',
        components:{
            'new-playlist': NewPlaylist,
            'nav-bar': NavBar,
        },
        data(){
            return {
                playlists: [],
                saved_songs: {}
            }
        },
        mounted(){
            this.fetchAllPlaylists();
            Event.$on('reloadPlaylists', () => {
                this.fetchAllPlaylists();
            });
        },
        methods: {
            playlistClickHandler(playlist){
                let pl = playlist;
                if (this.track) {
                    this.$vlf.createInstance({
                        storeName: playlist.name
                    }).then((store)=>{
                        store.setItem(this.track.id, this.track).then((response)=>{
                            this.$router.go(-1);
                        });
                    });
                }else{
                    this.$router.push({ name: 'PlaylistPage', params: {id: playlist.local_id} });
                }
            },
            fetchAllPlaylists(){
                let self = this;
                this.playlists = [];
                this.$vlf.createInstance({
                    storeName: 'playlists'
                }).then((store) => {
                    store.iterate((value, key, num) => {
                        self.playlists.push(value);
                    }).then(()=>{
                        self.playlists.reverse();
                    })
                })
                // axios.get('/api/playlists').then(response => {
                //     this.playlists = response.data.playlists;
                //     this.saved_songs = response.data.saved_songs;
                //     // this.persistToDatabase();
                // })
            },
            persistToDatabase(){
                let indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB
                var DBOpenRequest = window.indexedDB.open("Zerobam", 1);
                var db;

                DBOpenRequest.onsuccess = function(event) {
                  // store the result of opening the database in db.
                  db = DBOpenRequest.result;
                };

                DBOpenRequest.onupgradeneeded = function(event) {
                  var db = event.target.result;

                  var objectStore = db.createObjectStore("playlists", { keyPath: "id" });

                  // define what data items the objectStore will contain

                  objectStore.createIndex("name", "name", { unique: false });
                  objectStore.createIndex("created_at", "created_at", { unique: false });
                  objectStore.createIndex("updated_at", "updated_at", { unique: false });
                };

                let open = indexedDB.open("Zerobam", 1);
                open.onsuccess = ()=> {
                    let db = open.result;
                    var tx = db.transaction("playlists", 'readwrite')
                    // create an object store on the transaction
                    var objectStore = tx.objectStore("playlists");
                    // make a request to add our newItem object to the object store

                    this.playlists.forEach((playlist, key)=>{
                        var objectStoreRequest = objectStore.add(playlist);
                    })
                }
            }
        }
    }

</script>
<style scoped>
    .list-group-item {
        position: relative;
        display: block;
        padding: 0.75rem 1.25rem;
        margin-bottom: -1px;
        background-color: #2e2e2e;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

    .list-group-item-action {
        width: 100%;
        color: white !important;
        text-align: inherit;
    }

    .list-group-item-action:hover, .list-group-item-action:focus {
        color: white !important;
        text-decoration: none;
        background-color: #3d3d3d !important;
    }

</style>
