<template>
    <div id="contextMenu">
        <modal name="contextMenu"
            :pivotY="0.1"
            height="auto"
            :adaptive="true"
            classes="playlist-modal"
            @before-close="beforeClose">
            <img v-lazy="track.cover" height="50%" width="50%" class="mx-auto d-block">
            <div style="width: 100%; padding-top: 20px;" class="text-center">
                <h4>{{track.title}}</h4>
                <h6>{{track.artist}}</h6>
            </div>
            <div class="input-group mb-3" style="padding: 20px;">
                <button class="btn btn-dark btn-block" type="submit" @click="deleteTrack(track)">Delete</button>
                <button class="btn btn-dark btn-block" type="submit" @click="addToPlaylist(track)">Add to playlist</button>
            </div>
        </modal>
    </div>
</template>
<script>
    export default {
        props: ['track'],
        name: 'contextMenu',
        mounted(){
            if (!this.track) {
                this.$router.go(-1);
            }else{
                this.showContextMenu(this.track);
            }
        },
        methods:{
            addToPlaylist(track){
                this.$router.push({name: 'PlaylistsPage', params: {track: track}});
            },
            beforeClose(){
                this.$router.go(-1);
            },
            showContextMenu(track){
                this.track = track;
                this.$modal.show('contextMenu');
            },
            deleteTrack(track){
                this.$vlf.createInstance({
                    storeName: 'saved-songs'
                }).then((store) => {
                    store.removeItem(track.id).then((response)=>{
                        console.log(response);
                        this.$modal.hide('contextMenu');
                        Event.$emit('removeTrack', track);
                    });
                })


                // axios.post('/api/playlist/create',{name: this.$refs.playlistName.value}).then(response => {
                // });
            }
        }
    }
</script>
<style scoped>
    .v--modal-overlay {
        position: fixed;
        box-sizing: border-box;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.80);
        z-index: 999;
        opacity: 1;
        z-index: 10000;
    }

</style>
