<template>
    <div style="margin-top: 30px;">
        <navbar-component :title="'Saved Songs'"></navbar-component>
        <div class="row">
            <div class="col-12" style="margin-bottom: 20px;">
                <download-component ref="DownloadComponent" :tracks="tracks" />
                <tracks-component :tracks="tracks"></tracks-component>
            </div>
        </div>
    </div>
</template>

<script>
    import Database from './services/database.js';
    import DownloadComponent from './components/DownloadComponent.vue';
    import TracksComponent from './components/TracksComponent.vue';
    import NavbarComponent from '../../components/nav-bar/nav-bar.vue';

    export default {
        name: 'SavedSongs',
        components:{
            'download-component': DownloadComponent,
            'tracks-component': TracksComponent,
            'navbar-component': NavbarComponent,
        },
        data(){
            return {
                tracks: [],
                track: {}
            }
        },
        mounted(){
            let self = this;
            this.$vlf.createInstance({
                storeName: 'saved-songs'
            }).then((store) => {
                let tracks = [];
                store.iterate((value, key, num) => {
                    self.tracks.push(value);
                }).then((response)=>{
                    this.syncTracks(this.tracks);
                });
            })

            Event.$on('downloadCompleted',(data)=>{
                console.log(data);
                this.$set(this.tracks[data.index],'isDownloaded', true);
            })
            Event.$on('isInCache',(data)=>{
                if (data.isCached) {
                    this.$set(this.tracks[data.index],'isDownloaded', true);
                }else{
                    this.$set(this.tracks[data.index],'isDownloaded', false);
                }
            })


        },
        methods:{
            goToContextRoute(track){
                this.track = track;
                this.$router.push('/saved-songs/context-menu');
            },
            play(tracks, index){
                Event.$emit('playTrack', tracks, index);
            },
            syncTracks(savedTracks){
                // console.log(savedTracks);
                this.$vlf.createInstance({
                    storeName: 'settings'
                }).then((store)=>{
                    store.getItem('access_token').then((response)=>{
                        var config = {
                           headers: {
                              Authorization: "Bearer " + response.access_token,
                              'Content-Type': 'application/json',
                           }
                        }

                        var tracksIds = savedTracks.map(function(i) {
                            return i.id;
                        });
                        // console.log(tracksIds);

                        axios.post('/api/track/saved-tracks/', tracksIds, config).then((response)=>{
                            var savedTracks = response.data;
                            savedTracks.forEach((track, index)=>{
                                this.$vlf.createInstance({
                                    storeName: 'saved-songs'
                                }).then((store)=>{
                                    store.setItem(track.id, track ).then((response)=>{
                                        if (this.$refs.DownloadComponent.isDownloaded && 'caches' in window) {
                                            console.log(this.$refs.DownloadComponent.isDownloaded);
                                            let self = this;
                                            caches.open('downloads').then(function(cache) {
                                                cache.add(track.url).then((value)=>{
                                                    let obj = self.tracks.find((t, index) => {
                                                        if (t.id == track.id) {
                                                            self.$set(self.tracks[index],'isDownloaded', true);
                                                            return true;
                                                        }
                                                    });
                                                    console.log(value);
                                                    Event.$emit('downloadCompleted', {trackId: track.id, index: index});
                                                });
                                            });
                                        }
                                    });
                                })
                                track.isDownloaded = false;
                                this.tracks.push(track);
                            })
                        });
                    });
                });
            }
        },
    }
</script>

<style>
    .currentTrack .text p{
        color: #1db954 !important;
    }

    .trBackground{
        background-color: rgba(255, 255, 255, 0.075);
    }

    .trackTitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%;
    }

    .currentTrack .text span{
        color: #1db954 !important;
    }
</style>
