<template>
    <div id="main-artist-content" style="margin-bottom: 100px; margin-top: 30px;">
        <div id="artistContent">
            <div class="row">
                <div class="col text-center">
                    <img v-lazy="artist.photo" width="200" height="200" class="rounded-circle" :alt="artist.name">
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h1 class="text-center artistName">{{artist.name}}</h1>
                    <button type="button" @click="playPopularTracks()" class="btn btn-success btnPlay">PLAY</button>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h2 class="text-center popularText">Popular</h2>
                    <!-- <input type="text" name="demo" class="input-group"> -->
                    <table class="table table-dark table-hover table-borderless">
                        <tbody>
                          <tr :class="{currentTrack:popularTrack.id == playingTrack.id, trBackground:popularTrack.id == playingTrack.id}" v-for="(popularTrack, index) in popularTracks" @click="playSong(popularTracks, index, album, artist)">
                            <td class="align-middle noselect">{{popularTrack.title}}</td>
                            <td class="align-middle text-right noselect">
                                {{popularTrack.play_count}}
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div v-show="albums.length > 0">
            <div class="row">
                <div class="col text-center">
                    <h4 style="padding: 20px 0px 20px 0px; font-weight: bold;">Albums ({{albums.length}})</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4 col-lg-3 text-center" v-for="album in albums">
                    <div class="hover" >
                            <div class="hover" v-show="album.id != playingTrack.album_id">
                                <img  class="img" v-lazy="album.cover" @click="navigateToAlbum(album)">
                                <i class="material-icons btnCover d-none d-sm-block"  @click="playAlbum(album)">play_circle_outline</i>
                            </div>
                            <div class="hover" v-show="album.id == playingTrack.album_id">
                                <img  class="img currentTrackImage" v-lazy="album.cover" @click="navigateToAlbum(album)">
                                <i class="material-icons btnCurrentPlayingSong d-none d-sm-block"  @click="playAlbum(album)">pause_circle_outline</i>
                            </div>
                    </div>
                    <!-- <p style="font-size: 1.2em; padding:5px; max-width: 150px;" class="truncate-text"><strong>{{album.name}}</strong></p> -->
                    <span @click="navigateToAlbum(album)" class="d-inline-block text-truncate" style="max-width: 150px; margin: 5px 0px 5px 0px; font-size: 1.1em; color: white;">
                      {{album.name}}
                    </span>
                </div>
            </div>
        </div>

        <div v-show="singles.length > 0">
            <div class="row">
                <div class="col-12 text-center">
                    <h4 style="padding: 30px 0px 20px 0px; font-weight: bold;">Singles ({{singles.length}})</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-4 col-lg-3 text-center" v-for="single in singles">

                    <div class="hover" >
                        <div class="hover" v-show="single.id != playingTrack.album_id">
                            <img  class="img" v-lazy="single.cover" @click="navigateToAlbum(single)">
                            <i class="material-icons btnCover d-none d-sm-block"  @click="playAlbum(single)">play_circle_outline</i>
                        </div>
                        <div class="hover" v-show="single.id == playingTrack.album_id">
                            <img  class="img currentTrackImage" v-lazy="single.cover" @click="navigateToAlbum(single)">
                            <i class="material-icons btnCurrentPlayingSong d-none d-sm-block"  @click="playAlbum(single)">pause_circle_outline</i>
                        </div>
                    </div>

                    <span  @click="navigateToAlbum(single)" class="d-inline-block text-truncate" style="max-width: 150px; margin: 5px 0px 5px 0px; font-size: 1.1em; color: white;">
                      {{single.name}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'ArtistPage',
        props: ['id'],
        data: function () {
            return {
                names: [],
                albums: [],
                singles: [],
                artistID: this.id,
                artist: {},
                isPlaying: false,
                singlesCount: 0,
                albumsCount: 0,
                popularTracks: {},
            }
        },
        mounted(){
            this.fetchArtist(this.id);
            // Event.$on('scrollBeforeEnter', ()=>{
            //     window.scrollTo(0, 500);
            //     console.log('fired');
            // });
        },
        computed:{
            playingTrack(){
                return this.$store.getters.playingTrack;
            }
        },
        methods:{
            navigateToAlbum(album){
                this.$router.push('/album/'+album.id);
            },
            navigateToTrack(track){
                this.$router.push('/track/'+track.id);
            },
            playSong(tracks, index){
                Event.$emit('playTrack', tracks, index);
            },
            playPopularTracks(){
                console.log(this.$store.state.scrollPosition);
                Event.$emit('playPopularTracks', this.popularTracks, this.artist);
            },
            playAlbum(album){
                axios.get('/api/album/'+album.id).then((response)=>{
                    this.tracks = response.data.data.tracks;
                    var album = response.data.data.album;
                    var artist = response.data.data.artist;
                    Event.$emit('playAlbum', album, 0, artist);
                    this.isPlaying = true;
                });
            },
            fetchArtist(id){
                axios.get('/api/artist/'+id).then(response => {
                    this.artist = response.data.data.artist;
                    this.$store.commit('setPlayingArtist', this.artist);
                    this.popularTracks = response.data.data.popularTracks;
                    var albums = response.data.data.albums;

                    albums.forEach((album, index) => {
                        if(album.album_type == "single"){
                            this.singles.push(album);
                        }else{
                            this.albums.push(album);
                        }
                    });
                    // console.log(this.singles);
                    // this.popularTracks = response.data.popular;
                    // this.albumsCount = this.albums.length;
                    // this.singlesCount = this.singles.length;
                });
            }
        }
    }
</script>

<style>
    .hover {
        position: relative;
        width: 100%;
        max-width: 400px;
        background-color: black;
    }

    .hover img {
        width: 100%;
        height: auto;
    }

    .hover .btnCover {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: transparent;
        font-size: 5em;
        cursor: pointer;
        text-align: center;
    }

    .hover:hover > .img {
        background-color: black;
        opacity: 0.2;
    }

    .hover:hover > .btnCover {
        color: white;
        font-size: 5em;
    }

    .btnCover:hover ~ .img{
        background-color: black;
        opacity: 0.2;
    }

    .btnCover:hover{
        font-size: 5.6em !important;
    }

    .btnPlay{
        padding: 5px 40px 5px 40px;
        border-radius: 20px;
    }
    .table{
        background-color: transparent;
        margin-top: 20px;
    }
    .btnPlayPopular:hover{
        cursor: pointer;
    }

    .popularText{
        font-weight: bold;
        margin-top: 60px;
    }

    .artistName{
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .currentTrackImage{
        background-color: black;
        opacity: 0.2;
    }

    .btnCurrentPlayingSong{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        color: white;
        font-size: 5em;
        cursor: pointer;
        text-align: center;
    }

    .currentTrack{
        color: #1db954;
    }

    .trBackground{
        background-color: rgba(255, 255, 255, 0.075);
    }
</style>
