<template>
    <div class="container" style="margin-top:20px;">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new artist</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <form class="cover__form" id="form">
                    <input type="text" class="form-control" v-model="name" name="name" placeholder="New artist name...">
                    <br>
                    <input class="input" type="file" id="image-upload">

                </form>

                <div class="alert alert-success" v-show="artistAdded">
                  <strong>Success!</strong> Artist added to the database.
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="sendForm()"> Save changes</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                name,
                artistAdded: false
            }
        },
        methods:{
            sendForm(){
                this.artistAdded = false
                const fileInput = document.querySelector( '#image-upload' );
                const formData = new FormData();
                formData.append( 'image', fileInput.files[0] );
                formData.append( 'name', this.name );
                axios.post( '/create', formData ).then( ( response ) => {
                    console.log(response);
                    this.artistAdded = true;
                })
                .catch( ( error ) => {
                    this.message = error.error;
                });
            }
        }
    }
</script>
