<template>
    <div id="new-playlist-component">
        <modal
            name="addToPlaylist"
            :pivotY="0.2"
            height="80%"
            :adaptive="true"
            classes="playlist-modal"
            scrollable="true">
            <div class="list-group" style="overflow: auto; height: 100%; padding-left: 20px; padding-right: 20px;">
                <a v-for="playlist in playlists" role="button" @click="addToPlaylist(playlist)"  class="list-group-item list-group-item-action">
                    {{playlist.name}}
                </a>
            </div>
        </modal>
        <div role="button" style="padding-top: 10px; cursor: pointer;" @click="newPlaylist(track)">
            <i style="color: white; font-size: 1.2em;" class="material-icons">playlist_add</i>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                playlists: {},
                saved_songs: {}
            }
        },
        mounted(){
            this.fetchAllPlaylists();
            console.log(this.track);
        },
        computed:{
            track(){
                return this.$store.state.playingTrack;
            }
        },
        methods:{
            fetchAllPlaylists(){
                axios.get('/api/playlists').then(response => {
                    this.playlists = response.data.playlists;
                    this.saved_songs = response.data.saved_songs;
                })
            },
            newPlaylist(){
                this.$modal.show('addToPlaylist');
            },
            createPlaylist(){
                axios.post('/api/playlist/create',{name: this.$refs.playlistName.value}).then(response => {
                    Event.$emit('reloadPlaylists');
                    this.$modal.hide('example');
                });
            },
            addToPlaylist(playlist){
                axios.post('/api/playlist/add-track', {'playlist':playlist, 'track': this.track})
                    .then(response => {
                        Event.$emit('reloadPlaylist', playlist);
                        this.$modal.hide('addToPlaylist');
                    });
            }
        }
    }
</script>
<style>
    .playlist-modal {
        position: fixed;
        box-sizing: border-box;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: rgba(21, 21, 21, 0);
        z-index: 999;
        opacity: 1;
        z-index: 10000;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .v--modal-overlay {
        position: fixed;
        box-sizing: border-box;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.85);
        z-index: 999;
        opacity: 1;
    }

    .list-group-item {
        position: relative;
        display: block;
        padding: 0.75rem 1.25rem;
        margin-bottom: -1px;
        background-color: #2e2e2e;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

    .list-group-item-action {
        width: 100%;
        color: white !important;
        text-align: inherit;
    }

    .list-group-item-action:hover, .list-group-item-action:focus {
        color: white !important;
        text-decoration: none;
        background-color: #3d3d3d !important;
    }

</style>
