<template>
    <div style="margin-top: 30px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search..." v-on:keyup="fetchArtists($event)" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" v-for="name in names">
                    <router-link :to="'/artist/' + name.id">
                        <div class="media">
                            <img v-lazy="name.photo_url" :key="name.photo_url" alt="John Doe" class="rounded-circle" style="width:60px; margin: 15px 15px 15px 0px;">
                            <div class="media-body align-self-center">
                                <h6>{{name.name}}</h6>
                                <span style="color: grey; font-size: 1em">Artist</span>
                            </div>
                        </div>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import NewArtistModal from './NewArtistModal.vue';

    export default {
        name: 'SearchPage',
        components:{
            'NewArtistModal': NewArtistModal
        },
        data: function () {
            return {
                names: [],
            }
        },
        methods:{
            fetchArtists(e){
                if(e.target.value != ""){
                   axios.get('/api/search/artist/'+e.target.value).then(response => {
                    this.names = response.data;
                    console.log(response.data);
                });
                }else{
                    this.names = [];
                }
                var query = e.target.value;

                var chars = query.split('');
                console.log(chars);
            }
        }
    }
</script>
