<template>
    <table style="margin-bottom: 0px !important;" class="table table-dark table-hover table-borderless">
        <tbody>
            <tr class="downloadRow">
                <td style="cursor: auto; padding-left: 0.3em !important;">
                    <h5 style="font-weight: bold;">Download</h5>
                </td>
                <td></td>
                <td class="text-right">
                    <toggle-button @change="toggleDownload($event);" :value="isDownloaded" color="#48be4d" :sync="true"/>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props:['tracks'],
        data(){
            return {
                isDownloaded: false,
                urls: []
            }
        },
        beforeDestroy: function () {
            Event.$off('isInCache');
        },
        mounted(){
            this.$vlf.createInstance({
                storeName: 'settings'
            }).then((store) => {
                store.getItem('savedSongsDownloadState').then((value)=>{
                    this.isDownloaded = value;
                    if (value) {
                        this.$vlf.createInstance({
                            storeName: 'saved-songs'
                        }).then((store) => {
                            store.iterate((value, key, num) => {
                                if('caches' in window) {
                                    caches.open('downloads').then(function(cache) {
                                        cache.match(value.url).then(function(response) {
                                            if (response.status == 200) {
                                                Event.$emit('isInCache', {trackId: value.id, index: (num-1), isCached: true});
                                            }else{
                                                Event.$emit('isInCache', {trackId: value.id, index: (num-1), isCached: false});
                                            }
                                        });
                                    });
                                }
                            }).then((result) => {
                                // console.log(this.urls);
                            })
                        })
                    }
                })
            })

            // if('caches' in window) {
            //     let self = this;
            //     caches.open('downloads').then(function(cache) {
            //         console.log(self.tracks+"heeloo");
            //         cache.add(self.tracks[0].url);
            //     });
            // }
        },
        methods:{
            toggleDownload(event){
                if (event.value) {
                    this.$vlf.createInstance({
                        storeName: 'settings'
                    }).then((store) => {
                        store.setItem('savedSongsDownloadState', true)
                    })
                    this.tracks.forEach((track, index)=>{
                        if('caches' in window) {
                            let self = this;
                            caches.open('downloads').then(function(cache) {
                                cache.add(track.url).then((value)=>{
                                    // console.log(value);
                                    Event.$emit('downloadCompleted', {trackId: track.id, index: index});
                                });
                                cache.add(track.cover).then((value)=>{
                                    console.log(value);
                                });
                            });
                        }
                    });
                }else{
                    this.$vlf.createInstance({
                        storeName: 'settings'
                    }).then((store) => {
                        store.setItem('savedSongsDownloadState', false)
                    })
                    this.tracks.forEach((track, index)=>{
                        if('caches' in window) {
                            let self = this;
                            caches.open('downloads').then(function(cache) {
                                cache.delete(track.url).then((response)=>{
                                    console.log(response);
                                    Event.$emit('isInCache', {trackId: track.id, index: index, isInCache: false});
                                });
                            });
                        }
                    });
                }
            }
        }
    }
</script>
