<template>
    <div id="navbar-component" class="container">
        <div class="d-block d-sm-none">
            <div class="row fixed-top" style="background: #292929; padding-top: 5px; height: 50px;">
                <div class="col-auto align-self-center noselect" role="button" style="margin-left: 10px;" @click="$router.go(-1)">
                    <i style="color: white; font-size: 2.3em;" class="material-icons" role=button>keyboard_arrow_left</i>
                </div>
                <div class="col noselect align-self-center" style="padding-left: 0px;">
                    <template v-if="title">
                        <h5>{{title}}</h5>
                    </template>
                </div>
                <div class="col text-right align-self-center" role="button" style="margin-right: 10px;" @click="$router.go(-1)">
                    <i style="color: white;" class="material-icons noselect">more_vert</i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-none d-md-block" style="padding: 0px;">
                <h2 class="trendingsText" style="padding-left: 5px;">{{title}}</h2>
            </div>
        </div>
    </div>
</template>

<script src="./nav-bar.js"></script>
