<template>
    <div class="container" style="height: 90%" id="playerPage">
            <div id="bg" :style= "[track.colors && !lyrics ? {'background': 'linear-gradient(to right bottom, '+track.colors[0]+', black), linear-gradient(transparent, black 70%)', 'top': '0px' ,'left': '0px', 'right': '0px', 'width': '100%', 'height': '100%'} : {'height': ''}]">
              <img v-if="lyrics" v-lazy="track.cover" :key="track.cover" alt="">
            </div>
            <div class="row" v-if="display">
                <div :class="{'col-12 d-none d-md-block text-md-left': lyrics, 'col-12 d-none d-md-block text-md-center': !lyrics, 'text-lg-center col-lg-12': display}" >
                    <div><span :class="{'bigTitle': display}" style="color: white; font-weight: bold;">{{track.title}}</span></div>
                    <div><span :class="{'bigArtistName': display}" style="color: grey;">{{track.artist}}</span></div>
                </div>
            </div>
            <div class="row" v-bind:style= "[lyrics ? {'height': '100%'} : {'height': ''}]">
                <div v-show="!display" :class="classObject">
                    <div class="image-container" style="margin-top: 30px;" v-show="!lyrics">
                        <img height="500" width="500" v-lazy="track.cover" :key="track.cover" class="img-fluid">
                    </div>
                    <div class="row" style="margin-top: 10px" v-if="!display">
                        <div class="col-12 text-center">
                            <div><span style="color: white; font-weight: bold;">{{track.title}}</span></div>
                            <div><span style="color: grey;">{{track.artist}}</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 d-block d-md-block text-center justify-content-center align-self-center" :class="{'col-lg-12': display}" v-if="lyrics" style="height: 75vh;">
                    <div id="lyric" :class="{'lyric': lyrics, 'fullscreen-lyric': display}">
                        <div style="height: 300px;" id="lyricStart"></div>
                        <template v-if="lyrics">
                            <template v-if="lyrics.isSynced" v-for="lyric in lyrics.lyric">
                                <p v-bind:class="highlightLine(lyric)" @click="seekToLine(lyric)" :id="'line-'+lyric.lineNumber">{{lyric.text}}</p>
                            </template>
                            <template v-if="!lyrics.isSynced">
                                <p class="text-center" v-for="lyric, index in lyrics.lyric" style="color: white;">
                                        {{lyric}}
                                    </a>
                                </p>
                            </template>
                        </template>
                    </div>
                </div>
            </div>



       <!--Bottom sticky container for player controls -->

        <div class="fixed-bottom" v-show="!display" id="playerControls" style="padding-bottom: 20px ;">
            <div class="row justify-content-center">
                <div class="col col-md-10 col-lg-10" id="TrackSeeker">
                    <div class="row">
                        <div class="col-auto align-self-center text-right">
                            <span style="color: white; font-size: 0.9em; padding-left: 10px;">{{ $store.getters.trackCurrentTime }}</span>
                        </div>
                        <div class="col">
                            <div class="slidecontainer">
                                <input type="range" id="slider" min="1" :max="$store.state.trackDurationInSecs" :value="$store.state.trackCurrentTimeInSecs" class="slider">
                            </div>
                        </div>
                        <div class="col-auto">
                            <span style="color: white; font-size: 0.9em; padding-right: 10px;">{{$store.state.trackDuration}}</span>
                        </div>
                    </div>
                    <div class="row" id="pusher" v-if="display" :class="{'pusher': display}">
                        <div class="col-12">
                        </div>
                    </div>
                    <div class="row" style="padding-top: 5px;">
                        <!-- <div class="col text-left align-self-center" style="padding-left: 30px;">
                            <save-to-playlist></save-to-playlist>
                        </div> -->
                        <div class="col text-right align-self-center" style="cursor: pointer;">
                            <div role="button" style="padding-top: 10px;" @click="saveTrack(track)" v-if="!isTrackSaved">
                                <i style="color: white; font-size: 1.2em;" class="material-icons">add</i>
                            </div>
                            <div role="button" style="padding-top: 10px;" @click="removeSavedTrack(track)" v-if="isTrackSaved">
                                <i style="color: white; font-size: 1.2em;" class="material-icons">done</i>
                            </div>
                        </div>
                        <div class="col text-right align-self-center" style="padding-top: 10px;">
                            <a class="btn btn-controls" @click="previousTrack()" >
                                <i class="material-icons" style="color: white; font-size: 2.5em;">skip_previous</i>
                            </a>
                        </div>
                        <div class="col-auto text-center">
                            <a class="btn btn-controls align-self-center" style="padding-top: 10px !important;"  v-show="$store.state.isPlaying" @click="pauseTrack()" >
                                <i class="material-icons" style="color: white; font-size: 3em;">pause_circle_outline</i>
                            </a>
                            <a class="btn btn-controls align-self-center" style="padding-top: 10px !important;" v-show="!$store.state.isPlaying" @click="resumeTrack()" >
                                <i class="material-icons" style="color: white; font-size: 3em;">play_circle_outline</i>
                            </a>
                        </div>
                        <div class="col text-left align-self-center" style="padding-top: 10px;">
                            <a class="btn btn-controls" @click="nextTrack()" >
                                <i class="material-icons" style="color: white; font-size: 2.5em;">skip_next</i>
                            </a>
                        </div>
                        <div class="col align-self-center" @click="shuffleTracks()" style="cursor: pointer;">
                            <div role="button" v-if="shuffle" style="padding-top: 10px;">
                                <i style="color: white; font-size: 1.2em; color: green;" class="material-icons">shuffle</i>
                            </div>
                            <div role="button" v-if="!shuffle" style="padding-top: 10px;">
                                <i style="color: white; font-size: 1.2em;" class="material-icons">shuffle</i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import SaveToPlaylist from './components/save-to-playlist.vue';

    export default {
        name: 'PlayerPage',
        props: ['tracks', 'index'],
        components:{
            'save-to-playlist': SaveToPlaylist,
        },
        data(){
            return{
                trackDuration: this.$store.state.trackDuration,
                trackCurrentTime: this.$store.state.trackCurrentTime,
                isPlaying: true,
                currentTrackTimeInSecs: 0,
                isTrackSaved: false,
                currentLine: {},
                display: false,
                shuffle: false,
                timeouts: [],
                artist: {},
                justMounted: false,
                cancelScroll: [],
            }
        },
        computed: {
            classObject: function () {
                if (this.lyrics) {
                    return "col-12 col-md-12 text-center text-md-left justify-content-center align-self-center"
                }else{
                    return "col-12 text-center justify-content-center align-self-center"
                }
            },
            track: function (){
                return this.$store.state.playingTrack
            },
            lyrics: function (){
                if (this.$store.state.playingTrack.lyrics.length == 0) {
                    return false;
                }

                if (this.$store.state.playingTrack.lyrics[0].synced_lyric) {
                    return {
                        isSynced: true,
                        lyric: JSON.parse(this.$store.state.playingTrack.lyrics[0].synced_lyric)
                    }
                }else{
                    return {
                        isSynced: false,
                        lyric: this.$store.state.playingTrack.lyrics[0].lyric.split('\n')
                    }
                }
            }
        },
        watch: {
            'currentLine': function (val, oldVal) {
                var options = {
                    container: '#lyric',
                    easing: 'ease',
                    offset: -165,
                    force: true,
                    cancelable: true,
                    x: false,
                    y: true
                }

                if (val.lineNumber) {
                    if (this.justMounted) {
                        this.setOffset(options);
                        this.cancelScroll.push(this.$scrollTo('#line-'+val.lineNumber, 1300, options));
                        this.justMounted = false;
                    }else{
                        this.setOffset(options);
                        this.cancelScroll.push(this.$scrollTo('#line-'+val.lineNumber, 1300, options));
                    }
                }


            }
        },
        methods: {
            setOffset(options){
                if (!this.display) {
                    var h = document.getElementById('lyric').clientHeight;
                    options.offset = -(Math.round((h-130)/2));
                }else{
                    options.offset =  -290;
                }
            },
            seekToLine(lyric){
                // this.$store.commit('setTrackCurrentTimeInSecs', Math.round(lyric.startTime / 1000));
                Event.$emit('setTrackTime', Math.round(lyric.startTime / 1000));
                // console.log(this.$store.state.trackCurrentTimeInSecs);
            },
            shuffleTracks(){
                Event.$emit('shuffleTracks');
                this.shuffle = !this.shuffle;
                this.$store.state.shuffle = this.shuffle;
            },
            highlightLine(lyric){
                this.currentTrackTimeInSecs =  this.$store.state.trackCurrentTimeInMilSecs;

                var startTime = Math.floor(lyric.startTime);
                var finishTime = Math.floor(lyric.finishTime);

                if(this.currentTrackTimeInSecs > startTime && this.currentTrackTimeInSecs < finishTime)
                {
                    this.currentLine = lyric;
                    if (this.display) {
                        return{
                            'big-current-line': this.currentTrackTimeInSecs > startTime && this.currentTrackTimeInSecs < finishTime
                        }
                    }else{
                        return{
                            'current-line': this.currentTrackTimeInSecs > startTime && this.currentTrackTimeInSecs < finishTime
                        }
                    }

                }else{
                    if (this.display) {
                        return 'big-none-active-line';
                    }else{
                        return 'none-active-line';
                    }

                }
            },
            saveTrack(track){
                this.$vlf.createInstance({
                    storeName: 'saved-songs'
                }).then((store) => {
                    store.setItem(track.id, track)
                    .then((result) => {
                        this.isTrackSaved = true;
                    })
                })
                // axios.post('/api/track/save-track',{'track_id': track.id}).then((response)=>{
                //     if(response.data == 'success'){
                //     }
                // });
            },
            removeSavedTrack(track){
                axios.delete('/api/track/remove-saved/'+track.id,).then((response)=>{
                    if(response.data == 1){
                        this.isTrackSaved = false;
                    }
                });
            },
            nextTrack(){
                Event.$emit('nextTrack');
                this.checkSavedTrack();
            },
            previousTrack(){
                Event.$emit('previousTrack');
                this.checkSavedTrack();
                this.currentLine = '';

            },
            pauseTrack(){
                Event.$emit('pauseTrack');
            },
            resumeTrack(){
                Event.$emit('resumeTrack');
            },
            checkSavedTrack(){
                let self = this;
                this.$getItem(this.track.id).then(function(value){
                    if (value) {
                        self.isTrackSaved = true;
                    }
                })

                // axios.get('/api/track/is-saved/'+this.track.id).then((response)=> {
                //     if(response.data == true){
                //         this.isTrackSaved = true
                //     }else{
                //         this.isTrackSaved = false
                //     }
                // });
            }
        },
        mounted(){
            this.shuffle = this.$store.state.shuffle;
            this.currentLine = '';
            document.body.onkeyup = (e)=> {
                if(e.keyCode == 32){
                    this.display = !this.display;
                }
                if(e.keyCode == 37){
                    Event.$emit('rewindTrack');
                }
            }
            /////////////////////////////////////////////////////


            this.checkSavedTrack();
            document.getElementById('playerPage').style.display = 'none';
            document.getElementById('navigation').style.display = 'none';
            document.getElementById('playerControls').style.display = 'none';
            document.getElementById('left-nav').style.setProperty("display", "none", "important");
            var element = document.getElementById("right-content");
            element.classList.add("col-lg-12");

            setTimeout(()=>{
                document.getElementById('playerControls').style.display = 'block';
                document.getElementById('bg').style.display = 'block';
                setTimeout(()=>{
                    document.getElementById('playerPage').style.display = 'block';
                }, 0);


                var slider = document.getElementById("slider");
                slider.oninput = ()=> {
                    Event.$emit('setTrackTime', slider.value);
                }
            }, 0);
        },
        beforeDestroy(){
            document.getElementById('playerPage').style.display = 'none';
            document.getElementById('playerControls').style.display = 'none';
            document.getElementById('bg').style.display = 'none';
            Event.$emit('displayNavigation');
        }
    }
</script>

<style>
    div.lyric {
        height: 100% !important;
        overflow: scroll;
        padding-bottom: 50%;
        -webkit-mask-image: -webkit-linear-gradient(90deg, transparent, #000, transparent);
        transition: transform 1s ease-out;
    }

    .fullscreen-lyric {
        height: 750px !important ;
        overflow: hidden;
        padding-bottom: 50%;
        -webkit-mask-image: -webkit-linear-gradient(90deg, transparent, #000, transparent);
        transition: transform 1s ease-out;
    }


    div.lyric::-webkit-scrollbar
    {
        width: 0px;
    }

    .lyric::-webkit-scrollbar-thumb
    {
        border-radius: 5px;
        background-color: rgba(126, 126, 126, 0.24);
    }

    .lyric::-webkit-scrollbar-thumb:hover
    {
        border-radius: 5px;
        background-color: rgba(149, 149, 149, 0.5);
    }

    .current-line{
        font-size: 1.2em !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .none-active-line{
        font-size: 1.2em;
        color: #7a7a7a !important;
        cursor: pointer;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .big-current-line{
        font-size: 3.5em !important;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .big-none-active-line{
        font-size: 3.5em;
        color: #7a7a7a !important;
        cursor: pointer;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    @media (max-width: 768px) {
       #TrackSeeker {
          margin-bottom: 40
      }
    }

    #pusher {
        margin-bottom: 70px;
    }

    /* Container holding the image and the text */
    .image-container {
      position: relative;
      text-align: center;
      color: white;
    }
    /* Centered text */
    .centered {
        width: 95%;
        max-width: 480px;
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(63, 63, 63, 0.5);
        white-space: pre-wrap;      /* CSS3 */
        white-space: -moz-pre-wrap; /* Firefox */
        white-space: -pre-wrap;     /* Opera <7 */
        white-space: -o-pre-wrap;   /* Opera 7 */
        word-wrap: break-word;      /* IE */
    }

    #bg {
      position: fixed;
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
    }
    #bg img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      min-width: 50%;
      min-height: 50%;
      opacity: 0.08;
    }

    .bigTitle{
        font-size: 4em;
    }

    .bigArtistName {
        font-size: 2.5em;
    }

    /*.lyric:before {
        content: "";
        position: absolute;
        z-index: 1;
        left: 0;
        pointer-events: none;
        background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0) 100%);
        width: 100%;
        height: 10%;
    }

    .lyric:after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        pointer-events: none;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0) 100%);
        width: 100%;
        height: 10%;
    }*/


</style>
