<template>
    <div style="margin-bottom: 100px;">
        <modal name="example"
            width="50%"
            height="auto">
            <p>Hello World!</p>
        </modal>
        <template v-if="colors">
            <div id="bg" :style= "[colors ? {'position': 'fixed', 'background': 'linear-gradient(to bottom, rgba('+colors[2][0]+', '+colors[2][1]+', '+colors[2][2]+', 0.5), black)', 'top': '0px' ,'left': '0px', 'right': '0px', 'width': '100%', 'height': '100%'} : {'height': ''}]">
            </div>
        </template>

        <div class="row">
            <div class="col-md-4 d-none d-md-block col text-center">
                <div class="sticky">
                    <img class="img-fluid mx-auto d-md-block" v-lazy="album.cover"><br>
                    <h4>{{album.name}}</h4>

                    <span class="releaseDate">
                        <router-link :to="'/artist/' + artist.id">
                            {{artist.name}}
                        </router-link>
                        <span v-if="album.releaseDate"> ● {{album.releaseDate}}</span>

                    </span><br><br>
                </div>
            </div>

            <div class="col-md-4 col d-md-none text-center" style="margin-top: 30px;">
                <img class="img-fluid mx-auto d-block" width="70%" v-lazy="album.cover"><br>
                <h4>{{album.name}}</h4>`

                <span class="releaseDate">
                    <router-link :to="'/artist/' + artist.id">
                        {{artist.name}}
                    </router-link>
                    <span v-if="album.releaseDate"> ● {{album.releaseDate}}</span>
                </span><br><br>
            </div>


            <div class="col-md-8">
                <table style="margin-top: 30px;" class="table table-dark table-hover table-borderless">
                    <tbody>
                        <tr class="downloadRow">
                           <td style="cursor: auto;">
                               <h5 style="font-weight: bolder;">Download</h5>
                           </td>
                           <td class="text-right">
                                <toggle-button @change="toggleDownload($event);" :value="isCached" color="#48be4d" :sync="true"/>
                           </td>
                        </tr>
                      <tr :class="{currentTrack:track.id == $store.getters.playingTrack.id, trBackground:track.id == $store.getters.playingTrack.id}" v-for="(track, index) in album.tracks" @click="playingTrack = track.id, play(album, index, artist)">
                        <td class="align-middle text col-10">
                            <p class="trackTitle noselect">
                                {{track.title}}
                            </p>
                            <p style="color: grey !important; font-size: 0.9em; font-weight: bold;">
                                <span v-show="track.isCached"><i style="color: #48be4d" class="fa fa-arrow-circle-down" aria-hidden="true"></i></span>
                                <span class="trackExtras noselect" style="font-size: 0.8em !important;" v-show="track.lyrics.length > 0">LYRIC</span>
                                <span>
                                    {{artist.name}}
                                </span>
                            </p>
                        </td>
                        <!-- <td class="align-middle">
                            <i v-show="track.lyrics.length > 0" class="material-icons align-middle" style="color: white; font-size: 1.5em;">notes</i>
                        </td> -->
                        <td class="align-middle text-right col-2" id="context" @click.stop="showModal()">
                            <span id="context-icon" style="height: 24px !important; width: 24px !important; color: grey;"><i class="material-icons align-middle">more_vert</i></span>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import Player from '../../Player.vue';

    export default{
        name: 'AlbumPage',
        props:['id'],
        data(){
            return{
                tracks:{},
                album: {},
                artist:[],
                trackLyrics: "",
                isCached: false,
                preloader: [],
                timeouts: [],
                playlistCounter: 0,
                newIndex: 0,
                audioBuffer: '',
                colors: null
            }
        },
        mounted(){
            this.fetchAlbum(this.id);
        },
        methods:{
            putSomeData() {
                this.tracks.forEach((track, index) => {
                    let indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB

                    let open = indexedDB.open(this.artist.name, 1)

                    open.onupgradeneeded = () => {
                        let db = open.result
                        db.createObjectStore(this.album.name, { autoIncrement: true })
                    }

                    open.onsuccess = ()=> {
                        var base64Data = this.loadSoundFile(track, index);
                        window.localStorage.setItem(this.tracks[index]+'isCached', 'true');

                    }
                });
            },
            loadSoundFile(track, index){
                const self = this;
                var xhr = new XMLHttpRequest();
                xhr.open('GET', track.url, true);
                xhr.responseType = 'arraybuffer';
                xhr.onload =  (e)=> {
                    var base64String = this.bufferToBase64(xhr.response);

                    let open = indexedDB.open(self.artist.name, 1);

                    open.onsuccess = ()=> {
                        let db = open.result;
                        let tx = db.transaction(self.album.name, 'readwrite')
                        let store = tx.objectStore(self.album.name);
                        track.url = "data:audio/mpeg;base64,"+base64String;
                        track.isCached = true;
                        store.put(track);
                        this.$set(this.tracks[index],'isCached', true);

                        console.log('reached');

                        tx.oncomplete = function() {
                            db.close()
                        }
                    }

                };
                xhr.send();
            },
            bufferToBase64(buffer) {
                var bytes = new Uint8Array(buffer);
                var len = buffer.byteLength;
                var binary = "";
                for (var i = 0; i < len; i++) {
                    binary += String.fromCharCode(bytes[i]);
                }
                return window.btoa(binary);
            },
            toggleDownload(event){
                const self = this;
                if (event.value) {
                    this.putSomeData();
                    window.localStorage.setItem(this.album.id+'isCached', 'true');
                }else{

                    var DBDeleteRequest = window.indexedDB.deleteDatabase(self.artist.name);
                    DBDeleteRequest.onerror = function(event) {
                        console.log("Error deleting database.");
                    };

                    DBDeleteRequest.onsuccess = function(event) {
                        console.log("Database deleted successfully");

                        console.log(event.result); // should be undefined
                        self.tracks.forEach((track, index) => {
                            self.$set(self.tracks[index],'isCached', false);
                        });
                        window.localStorage.setItem(self.album.id+'isCached', 'false');
                        var isCached = window.localStorage.getItem(self.album.id+'isCached');
                    };
                }
            },
            checkIfAlbumIsCached(){
                var isCached = window.localStorage.getItem(this.album.id+'isCached');
                if (isCached == 'true') {
                    this.tracks.forEach((track, index) => {
                        window.caches.match(track.url).then(item => {
                            this.$set(this.tracks[index],'isCached', true);
                            this.$set(this.album.tracks[index],'url', track.url);
                        });

                    });
                    this.isCached = true;
                }
            },
            fetchAlbum(id){
                axios.get('/api/album/'+id).then((response)=>{
                    this.album = response.data.data.album;
                    this.tracks = response.data.data.album.tracks;
                    this.artist = response.data.data.artist;
                    this.colors = this.album.colors;
                    var event = {value: false};
                    // this.putSomeData();
                    this.checkIfAlbumIsCached();
                });
            },
            play(album, index, artist){
                const self = this;
                var album;
                if (this.isCached) {
                    let open = indexedDB.open(this.artist.name, 1)
                    open.onsuccess = ()=> {
                        let db = open.result
                        let tx = db.transaction(self.album.name, 'readwrite')
                        let store = tx.objectStore(self.album.name);
                        store.getAll().onsuccess = (event)=>{
                            this.album.tracks = event.target.result;
                        };
                        // console.log(gid);

                        tx.oncomplete = function() {
                            // var audio = new Audio("data:audio/mpeg;base64,"+gid.result.data);
                            // audio.play();
                            db.close()
                        }
                    }
                }
              Event.$emit('playAlbum', album, index, artist);
            },
            displayTime(audio){
                console.log(audio.currentTime);
            },
            showModal (track) {
                this.$modal.show('example');
            },
            hideModal () {
                this.$refs.myModalRef.hide()
            },
            addLyrics(track){
                this.$refs.addLyrics.show();
                this.trackLyrics = track;
            }
        }
    }
</script>
<style>
    .w-auto {
        width: auto;
    }
    .btnPlayTrack{
        cursor: pointer;
    }
    .releaseDate{
        color: grey;
    }

    .releaseDate a:link, a:visited {
        color: grey;
    }

    .currentTrack .text p{
        color: #1db954 !important;
    }

    .trBackground{
        background-color: rgba(255, 255, 255, 0.075);
    }

    .table td.text {
        max-width: 177px;
    }

    .table td.text p{
        margin-bottom: 0px;
        color:
    }

    .table td.text .trackTitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%;
    }

    .trackExtras {
        font-size: 0.8em;
        padding: 1px 4px;
        margin-right: 5px;
        border: 1px solid grey;
        border-radius: 2px;
    }

    #artist-link {
        cursor: pointer;
    }

    #artist-link:hover {
        color: lightgrey;
    }

    #context:hover span {
        color: lightgrey !important;
    }
    .downloadRow:hover {
        background-color: rgba(0,0,0,0) !important;
    }

</style>
