<template>
    <div id="login">
        <form style="margin-top: 30px;">
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" ref="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" ref="password" class="form-control" id="pwd">
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember me
                </label>
            </div>
        </form>
        <button @click="login()" class="btn btn-success">Login</button>
    </div>
</template>
<script>
    export default {
        mounted(){

        },
        methods:{
            login(){
                let email = this.$refs.email.value;
                let password = this.$refs.password.value;
                var config = {
                   headers: {
                      'Content-type': 'application/json',
                   }
                }

                axios.post('/api/login', {'email': email, 'password': password}, config).then((response)=>{
                    this.$vlf.createInstance({
                        storeName: 'settings'
                    }).then((store) => {
                        store.setItem('access_token', response.data)
                        .then((result) => {
                            console.log(result);
                        })
                    })
                });

            }
        },
        beforeDestroy(){
            Event.$emit('minimizePlayer');
        }
    }
</script>

<style scoped>
    label {
        display: inline-block;
        margin-bottom: 0.5rem;
        color: white;
    }
</style>
